<h1 align="center">Log in</h1>

<%= form_for(:session, :html => {class: "control-label", role: "form"}, url: login_path) do |f| %>

<div class="control-label">

<div class="control-label col-xs-4 col-xs-offset-4">

<%= f.label :email %>

</div>

<div class ="control-label col-xs-4 col-xs-offset-4">

<%= f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true %>

</div>

</div>

<div class="control-label">

<div class="control-label col-xs-4 col-xs-offset-4">

<%= f.label :password %>

</div>

<div class="control-label col-xs-4 col-xs-offset-4">

<%= f.password_field :password, class: "form-control", autocomplete: "off" %>

</div>

</div>

<div class="control-label">

<div class="control-label col-xs-4 col-xs-offset-4"><br>

<%= f.submit "Log in", class: 'btn btn-primary btn-xs' %>

</div>

</div>

<% end %>

<div class="col-xs-4 col-xs-offset-7">
   

[ <%= link_to 'Home', root_path%> ]

</div>
